@using Web.Models
@{

}


<link href="~/Content/styles/check-in.css" rel="stylesheet" />

<div class="boking-now-container" style=" margin-top: 112px;">
    <div class="boking-now-boking-now">
        <img alt="Rectangle151652" src="/public/external/rectangle151652-uicm-1300h.png" class="boking-now-rectangle15" />
        <div class="boking-now-sumarybill">
            <div class="boking-now-frame125">
                <span class="boking-now-text PlusJakartaSans26px:Bold">
                    <span>THANK YOU</span>
                </span>
                <div class="boking-now-frame118">
                    <p>Cảm ơn bạn đã đặt phòng!</p>
                </div>
            </div>
        </div>
        <div class="boking-now-bookinginfo">

        </div>
    </div>
</div>
