@{
    ViewBag.About = "active";
}

<link href="~/Content/styles/about.css" rel="stylesheet" />

<div class="desktop111-container">
    <div class="desktop111-desktop111">
        <img alt="Rectangle82513" src="/public/external/Rectangle 8.png" class="desktop111-rectangle8" />
        <img alt="Rectangle172513" src="/public/external/Rectangle 17.png" class="desktop111-rectangle17" />
        <div class="desktop111-discrib">
            <img alt="Rectangle182533" src="/public/external/Rectangle 18.png" class="desktop111-rectangle18" />
            <div style="margin-top: 213px; margin-left: 36px; ">
                <span class="desktop111-text">
                    <span>COOMI HOTEL HO CHI MINH</span>
                </span>
                <br />
                <br />
                <br />
                <span class="desktop111-text02">
                    <span style="text-transform: uppercase; font-weight: bold; font-family: Plus Jakarta sans-serif; letter-spacing: 10px; text-shadow: 2px 0px #adadad; ">
                        <span>COOMI Hotel</span>
                        <br />
                        <span>
                            A Cozy Retreat in Binh Thanh<br /> District, Ho Chi Minh City
                        </span>
                    </span>
                </span>
            </div>
            <span class="desktop111-text07 PlusJakartaSans20px:Regular">
                <span>
                    Nestled in the vibrant heart of Binh Thanh District, Ho Chi Minh
                    City, COOMI Hotel offers a warm and intimate escape for
                    travelers seeking a unique and personal stay. With eight
                    beautifully designed rooms to choose from, this boutique hotel
                    caters to a variety of preferences, with four rooms featuring
                    two inviting beds for those traveling with companions and four
                    rooms offering a peaceful oasis with a single, luxurious bed.
                </span>
            </span>
            <img alt="Rectangle102533" src="/public/external/Rectangle 10.png" class="desktop111-rectangle10" />
            <img alt="ddddddddddddd12533" src="/public/external/ddddddddddddd 1.png" class="desktop111-ddddddddddddd1" />
            <img alt="alexa8343SMALLCOFFEBARSMALLHOTELWOODBROWNCOLORea3d2533" src="/public/external/alexa8343_SMALL_COFFE_BAR_SMALL_HOTEL_WOOD_BROWN_COLOR_ea3d7adc-edc3-4bf5-9908-99d29290256b 1.png" class="desktop111-alexa8343smallcoffebarsmallhotelwoodbrowncolo-rea3d" />
            <span class="desktop111-text09 PlusJakartaSans20px:Regular">
                <span>
                    <span>
                        The small coffee shop, lovingly overseen by Minh, has become a
                        cherished gathering place. It offers a serene atmosphere with
                        comfortable seating where guests can start their day with
                        freshly brewed coffee and indulge in delicious treats.
                    </span>
                    <br />
                    <span>
                        At COOMI Hotel, guests experience a warm and welcoming
                        environment that goes beyond traditional hospitality. The
                        dedicated staff and the personal touch of the three owners
                        create an atmosphere of genuine care and comfort, making COOMI
                        Hotel feel like a true home away from home.
                    </span>
                    <br />
                    <span>
                        In a world dominated by impersonal hotel chains, COOMI Hotel
                        stands as a testament to the power of friendship, dedication,
                        and a shared dream. It's a place where every guest is embraced
                        like family. When your travels bring you to Binh Thanh
                        District, Ho Chi Minh City, be sure to visit COOMI Hotel,
                        where comfort, hospitality, and friendship converge in perfect
                        harmony.
                    </span>
                </span>
            </span>
            <div class="desktop111-frame112">
                <span class="desktop111-text16"><span>OUR FOUNDATION</span></span>
                <span class="desktop111-text18 PlusJakartaSans20px:Regular">
                    <span>
                        <span>
                            COOMI Hotel's story is one of collaboration and the enduring
                            bonds of friendship. Three close friends embarked on a
                            shared dream of creating a haven where travelers could
                            experience true comfort and hospitality. Their journey began
                            with a collective vision that turned into a reality through
                            dedication, mutual support, and a shared passion for
                            hospitality.
                        </span>
                        <br />
                        <span>
                            The name "COOMI" is a fusion of the first initials of the
                            three friends: Chí, Tống, Minh. Each friend brought a unique
                            talent to the venture. Chí, with her eye for aesthetics,
                            infused every corner of the hotel with a tasteful blend of
                            contemporary and classic decor. Minh, a culinary expert,
                            introduced a small coffee shop where guests can savor the
                            finest brews and delightful pastries. Tống, the financial
                            strategist, ensured the hotel's economic stability and
                            growth.
                        </span>
                    </span>
                </span>
            </div>
            <div class="desktop111-group5">
                <div class="desktop111-frame106">
                    <img alt="alexa8343None8c4e4e332d4047f3b4bc10a73f711edf12533" src="/public/external/alexa8343_None_8c4e4e33-2d40-47f3-b4bc-10a73f711edf 1.png" class="desktop111-alexa8343-none8c4e4e332d4047f3b4bc10a73f711edf1" />
                    <span class="desktop111-text23">
                        <span>Thai Minh Chi</span>
                    </span>
                </div>
                <div class="desktop111-frame107">
                    <img alt="phcoffeebold2533" src="/public/external/Vector (1).png" class="desktop111-phcoffeebold" />
                    <img alt="alexa8343None871701bdfd324805a448dcc7a092082012533" src="/public/external/alexa8343_None_871701bd-fd32-4805-a448-dcc7a0920820 1.png" class="desktop111-alexa8343-none871701bdfd324805a448dcc7a09208201" />
                    <span class="desktop111-text25">
                        <span>Nguyen Van Minh</span>
                    </span>
                </div>
                <div class="desktop111-frame108">
                    <img alt="alexa8343None70b416b64c424a23ad626a68804d67b612533" src="/public/external/alexa8343_None_70b416b6-4c42-4a23-ad62-6a68804d67b6 1.png" class="desktop111-alexa8343-none70b416b64c424a23ad626a68804d67b61" />
                    <span class="desktop111-text27"><span>Vo Van Tong</span></span>
                </div>
            </div>
            <div class="desktop111-frame109">
                <img alt="carbonhotel2534" src="/public/external/Vector.png" class="desktop111-carbonhotel" />
                <span class="desktop111-text29">
                    <span>HAPPY EXPERIENCE</span>
                </span>
            </div>
        </div>
        <div class="desktop111-frame30">
            <div class="desktop111-frame113">
                <div class="desktop111-l-ogoinnavicationbar1">
                    <a href="/">
                        <span class="desktop111-text45"><span>COOMI</span></span>
                    </a>
                </div>
                <span class="desktop111-text47 PlusJakartaSans16px:Regular">
                    <span>
                        Please contact us now to book your room as soon as possible
                        and enjoy many attractive promotions from our hotel. We
                        sincerely thank you for your interest in our hotel.
                    </span>
                </span>
            </div>
            <div class="desktop111-frame114">
                <span class="desktop111-text49 PlusJakartaSans26px:Regular">
                    <a href="/">
                        <span>HOME</span>
                    </a>
                </span>
                <span class="desktop111-text51 PlusJakartaSans26px:Regular">
                    <a href="/rooms">
                        <span>ROOM</span>
                    </a>
                </span>
                <span class="desktop111-text53 PlusJakartaSans26px:Regular">
                    <a href="/home/staff">
                        <span>STAFF</span>
                    </a>
                </span>
                <span class="desktop111-text55 PlusJakartaSans26px:Regular">
                    <a href="/home/about">
                        <span>ABOUT</span>
                    </a>
                </span>
            </div>
            <div class="desktop111-frame31">
                <div class="desktop111-frame28">
                    <img alt="bxhome2513" src="/public/external/bxhomei253-ihn8.svg" class="desktop111-bxhome" />
                    <span class="desktop111-text57 PlusJakartaSans20px:Regular">
                        <span>
                            xx/x Hoang Hoa Tham Street, Binh Thanh District, Ho Chi Minh
                        </span>
                    </span>
                </div>
                <div class="desktop111-frame27">
                    <div class="desktop111-mingcutephoneline">
                        <div class="desktop111-group">
                            <img alt="Vector2513" src="/public/external/vectori253-d8qh.svg" class="desktop111-vector1" />
                        </div>
                    </div>
                    <span class="desktop111-text59 PlusJakartaSans20px:Regular">
                        <span>0234.4344.XXX - 0928.000.XXX</span>
                    </span>
                </div>
                <div class="desktop111-frame29">
                    <div class="desktop111-iconamoonemailthin">
                        <div class="desktop111-group2">
                            <img alt="Vector2533" src="/public/external/vector2533-569g.svg" class="desktop111-vector2" />
                            <img alt="Vector2533" src="/public/external/vector2533-r87c.svg" class="desktop111-vector3" />
                        </div>
                    </div>
                    <span class="desktop111-text61 PlusJakartaSans20px:Regular">
                        <span>comi@gmail.com</span>
                    </span>
                </div>
                <div class="desktop111-frame301">
                    <div class="desktop111-iconamoonemailthin1">
                        <div class="desktop111-group2">
                            <img alt="Vector2533" src="/public/external/vector2533-569g.svg" class="desktop111-vector4" />
                            <img alt="Vector2533" src="/public/external/vector2533-r87c.svg" class="desktop111-vector5" />
                        </div>
                    </div>
                    <span class="desktop111-text63 PlusJakartaSans20px:Regular">
                        <span>Chi@gmail.com</span>
                    </span>
                </div>
            </div>
            <div class="desktop111-frame291">
                <a href="#">
                    <img alt="cibfacebook2513" src="/public/external/cibfacebooki253-gj1g.svg" class="desktop111-cibfacebook" />
                </a>
                <a href="#">
                    <div class="desktop111-tablermailfilled">
                        <div class="desktop111-group3">
                            <img alt="Vector2513" src="/public/external/vectori253-v3ud.svg" class="desktop111-vector7" />
                            <img alt="Vector2513" src="/public/external/vectori253-4f.svg" class="desktop111-vector8" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="desktop111-group1">
            <a href="#">
                <div class="desktop111-frame1">
                    <img alt="Ellipse52594" src="/public/external/vectori253-v3ud.svg" class="desktop111-ellipse5" />
                    <img alt="eparrowupbold2594" src="/public/external/vectori253-4f.svg" class="desktop111-eparrowupbold" />
                </div>
            </a>
        </div>
    </div>
</div>

