@using Web.Models
@{
    ViewBag.Home = "active";
}

<div class="home-frame33">
    <div class="home-frame26 owl-carousel owl-theme home_slider">
        <div class="home-frame25">
            <img alt="Rectangle86070" src="/public/external/rectangle86070-u6sd-1100h.png" class="home-rectangle8">
            <img alt="Rectangle96071" src="public/external/rectangle96071-mjzd-1100h.png" class="home-rectangle8">
            <span class="home-text18 PlusJakartaSans26px:Regular">
                <span>COOMI HOTEL HO CHI MINH</span>
            </span>
            <span class="home-text20 PlusJakartaSans52px:extrabold">
                <span>WELCOME TO COOMI HOTEL</span>
            </span>
            <a href="/rooms">
                <button class="home-button2" style="cursor:pointer;">
                    <div class="home-frame112">
                        <span class="home-text22 PlusJakartaSans24px:ExtraBold">
                            <span>Check rooms</span>
                        </span>
                    </div>
                    <img alt="teenyiconsarrowupsolidI602" src="/public/external/teenyiconsarrowupsolidi602-ic3.svg" class="home-teenyiconsarrowupsolid" />
                </button>
            </a>
        </div>

        <div class="home-frame25">
            <img alt="Rectangle86070" src="/public/external/Rectangle 8 (1).png" class="home-rectangle8">
            <img alt="Rectangle96071" src="public/external/rectangle96071-mjzd-1100h.png" class="home-rectangle8">
            <span class="home-text18 PlusJakartaSans26px:Regular">
                <span>COOMI HOTEL HO CHI MINH</span>
            </span>
            <span class="home-text20 PlusJakartaSans52px:extrabold">
                <span>LIVING SAI GON STYLE</span>
            </span>
            <a href="/rooms">
                <button class="home-button2" style="cursor:pointer;">
                    <div class="home-frame112">
                        <span class="home-text22 PlusJakartaSans24px:ExtraBold">
                            <span>Check rooms</span>
                        </span>
                    </div>
                    <img alt="teenyiconsarrowupsolidI602" src="/public/external/teenyiconsarrowupsolidi602-ic3.svg" class="home-teenyiconsarrowupsolid" />
                </button>
            </a>
        </div>

        <div class="home-frame25">
            <img alt="Rectangle86070" src="/public/external/Rectangle 8 (2).png" class="home-rectangle8">
            <img alt="Rectangle96071" src="public/external/rectangle96071-mjzd-1100h.png" class="home-rectangle8">
            <span class="home-text18 PlusJakartaSans26px:Regular">
                <span>COOMI HOTEL HO CHI MINH</span>
            </span>
            <span class="home-text20 PlusJakartaSans52px:extrabold">
                <span>BUDGET - FRIENDLY HOTEL</span>
            </span>
            <a href="/rooms">
                <button class="home-button2" style="cursor:pointer;">
                    <div class="home-frame112">
                        <span class="home-text22 PlusJakartaSans24px:ExtraBold">
                            <span>Check rooms</span>
                        </span>
                    </div>
                    <img alt="teenyiconsarrowupsolidI602" src="/public/external/teenyiconsarrowupsolidi602-ic3.svg" class="home-teenyiconsarrowupsolid" />
                </button>
            </a>
        </div>

        <div class="home-frame25">
            <img alt="Rectangle86070" src="/public/external/Rectangle 8 (3).png" class="home-rectangle8">
            <img alt="Rectangle96071" src="public/external/rectangle96071-mjzd-1100h.png" class="home-rectangle8">
            <span class="home-text18 PlusJakartaSans26px:Regular">
                <span>COOMI HOTEL HO CHI MINH</span>
            </span>
            <span class="home-text20 PlusJakartaSans52px:extrabold">
                <span>Log in now to experience our services."</span>
            </span>

            <div class="page-frame32">
                <a href="/account/register">
                    <button class="page-button" style="cursor:pointer;">
                        <div class="page-frame11">
                            <span class="page-text24 PlusJakartaSans24px:SemiBold">
                                <span>Sign up now</span>
                            </span>
                        </div>
                    </button>
                </a>
                <a href="/account/login">
                    <button class="page-button1" style="cursor:pointer;">
                        <div class="page-frame111" style=" width: 500px;">
                            <span class="page-text26 PlusJakartaSans24px:ExtraBold">
                                <span>log in now</span>
                            </span>
                        </div>
                        <img alt="teenyiconsarrowupsolidI253" src="/public/external/teenyiconsarrowupsolidi253-vajd.svg" class="page-teenyiconsarrowupsolid">
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>