.staff-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.staff-desktop8 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}

.staff-rectangle8 {
    top: -356px;
    left: 0px;
    width: 100%;
    height: 1735px;
    position: absolute;
}

.staff-rectangle9 {
    top: -356px;
    left: 0px;
    width: 100%;
    height: 1735px;
    position: absolute;
}

.staff-frame49 {
    gap: 47px;
    top: 156px;
    left: 130px;
    width: calc(100% - 260px);
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: space-between;
}

.staff-frame61 {
    width: 79%;
    height: 88px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--dl-color-webcolors-0);
}

.staff-text {
    color: var(--dl-color-webcolors-600);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
    padding: 32px;
}

.staff-button {
    gap: 12px;
    width: 219px;
    height: 88px;
    display: flex;
    padding: 32px 24px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: center;
    background-color: var(--dl-color-webcolors-700);
}

.staff-frame11 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-text02 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    text-align: center;
    line-height: normal;
}

.staff-frame30 {
    gap: 83px;
    top: 960px;
    left: 0px;
    width: 100%;
    height: 64px;
    display: flex;
    padding: 4px 24px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: var(--dl-color-webcolors-900);
}

.staff-frame31 {
    gap: 24px;
    width: 1128.5px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.staff-frame28 {
    gap: 8px;
    display: flex;
    align-items: center;
}

.staff-bxhome {
    width: 24px;
    height: 24px;
}

.staff-text04 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    text-align: center;
    line-height: normal;
}

.staff-frame27 {
    gap: 8px;
    width: 428px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.staff-mingcutephoneline {
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}

.staff-group {
    top: 0px;
    left: 0px;
    width: 21px;
    height: 22.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.staff-vector {
    top: 2.030210494995117px;
    left: 1.6312255859375px;
    width: 17px;
    height: 19px;
    position: absolute;
}

.staff-text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    text-align: center;
    line-height: normal;
}

.staff-frame29 {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.staff-cibfacebook {
    width: 24px;
    height: 24px;
}

.staff-tablermailfilled {
    width: 29px;
    height: 29px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}

.staff-group1 {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 29px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.staff-vector1 {
    top: 9.104791641235352px;
    left: 2.4166665077209473px;
    width: 24px;
    height: 15px;
    position: absolute;
}

.staff-vector2 {
    top: 4.8333330154418945px;
    left: 2.9543747901916504px;
    width: 23px;
    height: 9px;
    position: absolute;
}

.staff-frame67 {
    gap: 12px;
    top: 278px;
    left: 88px;
    width: calc(100% - 176px);
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
}

.staff-frame62 {
    gap: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: 12px;
    border-radius: 5px;
    padding-right: 12px;
    justify-content: space-between;
}

.staff-text08 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-text10 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-text12 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: right;
    line-height: normal;
}

.staff-frame64 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(102, 42, 26, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    flex-direction: column;
}

.staff-frame63 {
    gap: 85px;
    width: 100%;
    display: flex;
    padding: 32px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: space-between;
    background-color: var(--dl-color-webcolors-0);
}

.staff-text14 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-text16 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-text18 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: right;
    line-height: normal;
}

.staff-frame641 {
    gap: 85px;
    width: 100%;
    display: flex;
    padding: 32px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: space-between;
    background-color: var(--dl-color-webcolors-0);
}

.staff-text20 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-text22 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-text24 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: right;
    line-height: normal;
}

.staff-frame65 {
    gap: 85px;
    width: 100%;
    display: flex;
    padding: 32px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: space-between;
    background-color: var(--dl-color-webcolors-0);
}

.staff-text26 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-text28 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-text30 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: right;
    line-height: normal;
}

.staff-frame66 {
    gap: 85px;
    width: 100%;
    display: flex;
    padding: 32px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: space-between;
    background-color: var(--dl-color-webcolors-0);
}

.staff-text32 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-text34 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-text36 {
    color: var(--dl-color-webcolors-900);
    height: auto;
    flex-grow: 1;
    text-align: right;
    line-height: normal;
}

.staff-navigationbar {
    gap: 120px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 112px;
    display: flex;
    padding: 32px 42px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: var(--dl-color-webcolors-700);
}

.staff-l-ogoinnavicationbar {
    width: 287px;
    height: 62px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}

.staff-text38 {
    color: rgba(255, 252, 247, 1);
    width: 395px;
    height: auto;
    position: absolute;
    flex-grow: 1;
    font-size: 50px;
    font-style: Regular;
    text-align: left;
    font-family: Libre Baskerville;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.staff-frame44 {
    gap: -32px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.staff-frame19 {
    width: 155px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame20 {
    gap: 10px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.staff-frame18 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.staff-text40 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    text-align: center;
    line-height: normal;
}

.staff-frame21 {
    width: 155px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame201 {
    gap: 10px;
    width: 82px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame181 {
    gap: 10px;
    width: 88px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.staff-text42 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-frame22 {
    width: 155px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame202 {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.staff-frame182 {
    gap: 10px;
    width: 68px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.staff-text44 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-rectangle7 {
    width: 108px;
    height: 3px;
}

.staff-frame23 {
    width: 155px;
    display: flex;
    padding: 0 24px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame203 {
    gap: 10px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.staff-frame183 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.staff-text46 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-frame204 {
    width: 155px;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame205 {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.staff-frame184 {
    gap: 10px;
    width: 142px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.staff-text48 {
    color: var(--dl-color-webcolors-0);
    height: auto;
    flex-grow: 1;
    text-align: center;
    line-height: normal;
}

.staff-frame43 {
    gap: 12px;
    width: 322px;
    display: flex;
    padding: 0 0 0 42px;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
}

.staff-iconparkoutlinebuy {
    width: 42px;
    height: 42px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
}

.staff-group2 {
    top: 5.25px;
    left: 5.25px;
    width: 31.5px;
    height: 31.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.staff-vector3 {
    top: 7.875px;
    left: 0px;
    width: 31px;
    height: 24px;
    position: absolute;
}

.staff-vector4 {
    top: 0px;
    left: 8.75px;
    width: 14px;
    height: 11px;
    position: absolute;
}

.staff-vector5 {
    top: 24.5px;
    left: 8.75px;
    width: 14px;
    height: 1px;
    position: absolute;
}

.staff-line1 {
    width: 46px;
    height: 1px;
}

.staff-frame93 {
    gap: 8px;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.staff-frame42 {
    gap: 4px;
    width: 160px;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
}

.staff-frame41 {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
}

.staff-text50 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    flex-grow: 1;
    text-align: left;
    line-height: normal;
}

.staff-frame39 {
    display: flex;
    align-self: stretch;
    align-items: flex-end;
    flex-shrink: 0;
}

.staff-frame40 {
    width: 122px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.staff-text52 {
    color: var(--dl-color-webcolors-300);
    height: auto;
    flex-grow: 1;
    font-size: 12px;
    font-style: Light;
    text-align: left;
    font-family: Plus Jakarta Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: underline;
}

.staff-eparrowupbold {
    right: -5px;
    width: 13px;
    bottom: 1px;
    height: 10px;
    position: absolute;
}

.staff-ellipse6 {
    width: 46px;
    height: 46px;
}
